@charset "UTF-8";

body {
    padding: 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
div#interface {
    width: 800px;
    height: 1100px;
    background-color: #fefefe;
    margin: 0px auto 0px auto;
}
input[type=paci] {
    width: 340px;
    height: 15px;
}
ol{
    margin:0;
    padding:0;
}
    table td,table th{
        padding:0;
}
.c7{
    border-right-style:solid;
    padding:0pt 5.4pt 0pt 5.4pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:top;
        border-right-color:#000000;
        border-left-width:1pt;
        border-top-style:solid;
        background-color:#d9d9d9;
        border-left-style:solid;
        border-bottom-width:1pt;
        width:432.2pt;
        border-top-color:#000000;
        border-bottom-style:solid;
    }
    .c14{
        border-right-style:solid;
        padding:0pt 5.4pt 0pt 5.4pt;
        border-bottom-color:#000000;
        border-top-width:0pt;
        border-right-width:1pt;
        border-left-color:#000000;
        vertical-align:top;
        border-right-color:#000000;
        border-left-width:1pt;
        border-top-style:solid;
        border-left-style:solid;
        border-bottom-width:1pt;
        width:432.2pt;
        border-top-color:#000000;
        border-bottom-style:solid;
    }
    .c8{
        border-right-style:solid;
        padding:0pt 5.4pt 0pt 5.4pt;
        border-bottom-color:#000000;
        border-top-width:1pt;
        border-right-width:1pt;
        border-left-color:#000000;
        vertical-align:top;
        border-right-color:#000000;
        border-left-width:1pt;
        border-top-style:solid;
        border-left-style:solid;
        border-bottom-width:1pt;
        width:432.2pt;
        border-top-color:#000000;
        border-bottom-style:solid;
    }
    .c17{
        border-right-style:solid;
        padding:0pt 5.4pt 0pt 5.4pt;
        border-bottom-color:#000000;
        border-top-width:1pt;
        border-right-width:1pt;
        border-left-color:#000000;
        vertical-align:top;
        border-right-color:#000000;
        border-left-width:1pt;
        border-top-style:solid;
        border-left-style:solid;
        border-bottom-width:0pt;
        width:432.2pt;
        border-top-color:#000000;
        border-bottom-style:solid;
    }
    .c3{
        color:#000000;
        font-weight:700;
        text-decoration:none;
        vertical-align:baseline;
        font-size:11pt;
        font-family:"Calibri";
        font-style:normal;
    }
    .c13{
        color:#000000;
        font-weight:400;
        text-decoration:none;
        vertical-align:baseline;
        font-size:11pt;
        font-family:"Arial";
        font-style:normal;
    }
    .c1{
        color:#000000;
        font-weight:400;
        text-decoration:none;
        vertical-align:baseline;
        font-size:11pt;
        font-family:"Calibri";
        font-style:normal;
    }
    .c4{
        padding-top:0pt;
        padding-bottom:0pt;
        line-height:1.0;
        orphans:2;
        widows:2;
        text-align:center;
    }
    .c16{
        padding-top:0pt;
        padding-bottom:10pt;
        line-height:1.1500000000000001;
        orphans:2;
        widows:2;
        text-align:center;
    }
    .c2{
        padding-top:0pt;
        padding-bottom:0pt;
        line-height:1.0;
        orphans:2;
        widows:2;
        text-align:left;
    }
    .c0{
        margin-left:-5.4pt;
        border-spacing:0;
        border-collapse:collapse;
        margin-right:auto;
        margin-left: auto;
    }
    .c15{
        padding-top:0pt;
        padding-bottom:0pt;
        line-height:1.1500000000000001;
        text-align:left;
    }
    .c10{
        font-size:10pt;
        font-family:"Arial";
        font-weight:700;
    }
    .c12{
        background-color:#ffffff;
        max-width:425.2pt;
        padding:70.8pt 85pt 70.8pt 85pt;
    }
    .c6{
        height:0pt;
    }
    .c11{
        font-weight:700;
    }
    .c9{
        height:76pt;
    }
    .c5{
        height:11pt;
    }
    .title{
        padding-top:24pt;
        color:#000000;
        font-weight:700;
        font-size:36pt;
        padding-bottom:6pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;
        text-align:left;
    }
    .subtitle{
        padding-top:18pt;
        color:#666666;
        font-size:24pt;
        padding-bottom:4pt;
        font-family:"Georgia";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        font-style:italic;
        orphans:2;
        widows:2;
        text-align:left;
    }
    li{
        color:#000000;
        font-size:11pt;
        font-family:"Calibri";
    }
    p{
        margin:0;
        color:#000000;
        font-size:11pt;
        font-family:"Calibri";
    }
    h1{
        padding-top:24pt;
        color:#000000;
        font-weight:700;
        font-size:24pt;
        padding-bottom:6pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;
        text-align:left;
    }
    h2{
        padding-top:18pt;
        color:#000000;
        font-weight:700;
        font-size:18pt;
        padding-bottom:4pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;widows:2;
        text-align:left;
    }
    h3{
        padding-top:14pt;
        color:#000000;
        font-weight:700;
        font-size:14pt;
        padding-bottom:4pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;
        text-align:left;
    }
    h4{
        padding-top:12pt;
        color:#000000;
        font-weight:700;
        font-size:12pt;
        padding-bottom:2pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;text-align:left;
    }
    h5{
        padding-top:11pt;
        color:#000000;
        font-weight:700;
        font-size:11pt;
        padding-bottom:2pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;
        text-align:left;
    }
    h6{
        padding-top:10pt;
        color:#000000;
        font-weight:700;
        font-size:10pt;
        padding-bottom:2pt;
        font-family:"Calibri";
        line-height:1.1500000000000001;
        page-break-after:avoid;
        orphans:2;
        widows:2;
        text-align:left;
    }
input#print {
    position: relative;
    left: 620px;
}